.footer {
  background: #030d0a;
  padding: 45px 6% 30px;
  position: relative;
  overflow: hidden;
}

.footer-line {
  position: absolute;
  top: 8px;
  left: 3%;
  right: 3%;
  height: 1px;
  background: rgba(0, 255, 136, 0.18);
  transform: rotate(-1deg);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

/* LEFT */

.footer-brand {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footer-logo {
  width: 42px;
  height: 42px;

  border: 1px solid rgba(0, 255, 136, 0.35);

  color: #00ff88;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Courier New", monospace;
  font-size: 22px;
  font-weight: 900;

  background: rgba(0, 255, 136, 0.03);
}

.footer-brand span {
  color: rgba(170, 220, 185, 0.65);

  font-family: "Courier New", monospace;
  font-size: 18px;
  font-weight: 700;

  letter-spacing: 1px;
}

/* CENTER NAV */

.footer-nav {
  display: flex;
  gap: 42px;
}

.footer-nav a {
  color: rgba(170, 220, 185, 0.55);

  text-decoration: none;

  font-family: "Courier New", monospace;
  font-size: 16px;
  font-weight: 600;

  transition: 0.3s ease;
}

.footer-nav a:hover {
  color: #00ff88;
}

/* BOTTOM */

.footer-bottom {
  text-align: center;

  color: rgba(170, 220, 185, 0.55);

  font-family: "Courier New", monospace;
  font-size: 18px;

  letter-spacing: 1px;
}

.heart {
  color: #00ff88;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .footer-content {
    flex-direction: column;
    gap: 35px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer-bottom {
    font-size: 15px;
    line-height: 1.8;
  }
}

@media (max-width: 600px) {
  .footer-brand {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-brand span {
    font-size: 15px;
  }
}